{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>View Items</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<h2>All Items</h2>
<table>

<tr>
    <th>Sl No.</th>
    <th>Item Name</th>
    <th>Brand</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Edit</th>
    <th>Delete</th>
</tr>

{% for item in items %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ item.item_name }}</td>
    <td>{{ item.brand }}</td>
    <td>{{ item.quantity }}</td>
    <td>{{ item.price }}</td>

    <td>
        <a href="{% url 'edit_item' item.id %}">Edit</a>
    </td>

    <td>
        <a href="{% url 'delete_item' item.id %}">Delete</a>
    </td>
</tr>
{% endfor %}

</table>

<br>

<a href="{% url 'add_item' %}">Add New Item</a>

</body>
</html>